@model IEnumerable<OtoServis.Entities.Servis.Islem>
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("IslemKaydet", "IsEmri"))
{
    <input type="hidden" name="IsEmriId" value="@ViewBag.IsEmriId" />
    <div class="row">
        <div class="col-md-3">
            Bakım Grubu
            @Html.DropDownList("drpBakimGrup", new SelectList(ViewBag.BakimGrup, "BakimGrupId", "BakimGrupAdi"), "Bakım Grubu Seç",
            new { @class = "form-control form-control-sm", required = "required", onchange = "BakimDoldur()" })
        </div>
        <div class="col-md-3">
            Bakım Türü
            <select name="BakimId" id="BakimId" required class="form-control form-control-sm">
            </select>
            <input type="hidden" name="IslemAd" value="" id="IslemAd" />
        </div>
        <div class="col-md-2">
            Birim Fiyat
            <div class="input-group input-group-sm ">
                <span class="input-group-text">&#8378;</span>
                <input id="bakimBirimFiyat" required step="any" type="number" class="form-control form-control-sm text-center" onchange="BakimHesapla()" onclick="this.select()" value="0" />
                <input type="hidden" required name="BirimFiyat" id="hdbakimBirimFiyat" />
            </div>
        </div>
        <div class="col-md-1">
            Adet
            <input id="bakimAdet" type="number" required name="Adet" class="form-control form-control-sm text-center" onchange="BakimHesapla()" onclick="this.select()" value="1" />
        </div>
        <div class="col-md-2">
            Toplam
            <div class="input-group input-group-sm ">
                <span class="input-group-text">&#8378;</span>
                <input id="bakimAraToplam" required name="AraToplam" type="text" class="form-control form-control-sm text-center" readonly value="0" />
            </div>
        </div>
        <div class="col-md-1">
            <br />
            <input type="submit" class="btn btn-sm btn-success" value="Ekle" />
        </div>
    </div>
}


@using (Html.BeginForm("IslemKaydet", "IsEmri"))
{
    <input type="hidden" name="IsEmriId" value="@ViewBag.IsEmriId" />

    <div class="row mt-3">

        <div class="col-md-6">
            Diğer İşlem
            <input type="text" required name="IslemAd" class="form-control form-control-sm" />
        </div>
        <div class="col-md-2">
            Birim Fiyat
            <div class="input-group input-group-sm ">
                <span class="input-group-text">&#8378;</span>
                <input id="digerBirimFiyat" type="number" step="any" class="form-control form-control-sm text-center" onchange="DigerHesapla()" onclick="this.select()" value="0" />
                <input type="hidden" name="BirimFiyat" id="hddigerBirimFiyat" />
            </div>
        </div>
        <div class="col-md-1">
            Adet
            <input id="digerAdet" type="number" required name="Adet" class="form-control form-control-sm text-center" onchange="DigerHesapla()" onclick="this.select()" value="1" />
        </div>
        <div class="col-md-2">
            Toplam
            <div class="input-group input-group-sm ">
                <span class="input-group-text">&#8378;</span>
                <input id="digerAraToplam" type="text" name="AraToplam" class="form-control form-control-sm text-center" readonly value="0" />
            </div>
        </div>
        <div class="col-md-1">
            <br />
            <input type="submit" class="btn btn-sm btn-success" value="Ekle" />
        </div>
    </div>
}

<table class="table table-sm table-responsive table-secondary mt-5">
    <thead>
        <tr>
            <th>Yapılan İşlem</th>
            <th>Birim Fiyat</th>
            <th>Adet</th>
            <th>Toplam</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.IslemAd</td>
            <td>@item.BirimFiyat.ToString("C")</td>
            <td>@item.Adet</td>
            <td>@item.AraToplam.ToString("C")</td>
            <td>
                <button onclick="silmodal(this)" type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-islemad="@item.IslemAd" data-id="@item.IslemId" data-bs-target="#SilModal">
                    Sil
                </button>
            </td>

        </tr>
    }
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-end">Genel Toplam </td>
            <td>@Model.Sum(x => x.AraToplam).ToString("C")</td>
        </tr>
    </tfoot>

</table>




<!-- Modal -->
<div class="modal fade" id="SilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">İşlem Silme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                İşlemi Silmek İstiyor Musunuz?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("IslemSil", "IsEmri", FormMethod.Post))
                {
                    <input type="hidden" id="hiddenId" name="id" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="submit" class="btn btn-danger">Sil</button>
                }

            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("KaydetKapat", "IsEmri"))
{
    <input type="hidden" name="IsEmriId" value="@ViewBag.IsEmriId" />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 ">
            <h5>Ödeme İşlemi ve İş Emri Kapatma</h5>
            <select name="OdemeSekli" class="form-control" required>
                <option value="">Ödeme Şekli</option>
                <option value="Nakit">Nakit</option>
                <option value="Kart">Kart</option>
            </select>
            <textarea name="Aciklama" class="form-control mt-2" placeholder="Açıklama"></textarea>
            <div class="input-group mt-2">
                <span class="input-group-text">&#8378;</span>
                <input type="text" name="AlinanUcret" required class="form-control text-center fs-2" onclick="this.select()" name="name" value="0" />
            </div>
            <input type="submit" class="btn btn-primary float-end mt-2 " value="Kaydet ve İşlemi Kapat" />
        </div>
    </div>
}







@section scripts{
    <script>
        $(document).ready(function () {
            $('#BakimId').on("change", function () {
                $('#IslemAd').val($(this).find("option:selected").text());
            });
        });
    </script>
}



<script>
    function silmodal(btn) {
        var xid = $(btn).data('id');
        $('#hiddenId').val(xid);
    }


    function DigerHesapla() {
        var digerBirimFiyat = $('#digerBirimFiyat').val();
        var digerAdet = $('#digerAdet').val();
        if (digerBirimFiyat.length === 0 || digerAdet.length === 0) {
            $('#digerAraToplam').val(0);
        } else {
            var digerAraToplam = digerAdet * digerBirimFiyat;
            var birimfiyat = $('#digerBirimFiyat').val();
            $('#hddigerBirimFiyat').val(digerBirimFiyat.replace('.', ','));
            $('#digerAraToplam').val(digerAraToplam.toFixed(2).replace('.', ','));
        }
    }
    function BakimHesapla() {
        var bakimBirimFiyat = $('#bakimBirimFiyat').val();
        var bakimAdet = $('#bakimAdet').val();
        if (bakimBirimFiyat.length === 0 || bakimAdet.length === 0) {
            $('#bakimAraToplam').val(0);
        } else {
            var bakimAraToplam = bakimAdet * bakimBirimFiyat;
            var birimfiyat = $('#bakimBirimFiyat').val();
            $('#hdbakimBirimFiyat').val(birimfiyat.replace('.', ','));
            $('#bakimAraToplam').val(bakimAraToplam.toFixed(2).replace('.', ','));
        }
    }


    function BakimDoldur() {
        var _bakimGrupId = $('#drpBakimGrup').val();
        if ($('#drpBakimGrup').val() == "") {
            $('#MBakimId').html("");
            $('#BakimId').append($('<option></option>').val("").html("Bakım Türü Seçiniz"));
        }
        else {
            $.ajax({
                url: '/BakimGrup/BakimDoldur',
                type: 'GET',
                dataType: 'JSON',
                data: { bakimGrupId: _bakimGrupId },
                success: function (bakimlar) {
                    $('#BakimId').html("");
                    $('#BakimId').append($('<option></option>').val("").html("Bakım Türü Seç"));
                    $.each(bakimlar, function (i, bakim) {
                        $('#BakimId').append($('<option></option>').val(bakim.BakimId).html(bakim.BakimAdi));
                    });

                }
            });
        }
    }
</script>
